h1{
    font-family: "bebas neue",cursive;
    font-size: 30px;
    font-weight: 600;
    color: #004883;
}
P{
    font-family: "century gothic",cursive;
    font-size: 13px;

}
ul{
    font-family: "century gothic",cursive;
    font-size: 13px; 
}